/* src/styles/globals.css */


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #16161a;
}

.paragraph {
  font-size: 18px !important;
  color: #94a1b2;
}

.title-font {
  font-family: 'Altera', sans-serif !important; /* Fallback to sans-serif */
  font-size: 36px !important;
  color: #fffffe !important;
}

/* Hero section styles */
.hero-section {
  position: relative;
  height: 100vh; /* Full height for the hero section */
  display: flex;
  align-items: center; /* Center hero text vertically */
  justify-content: center; /* Center hero text horizontally */
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* Hero section styles (mobile-first) */
.hero-text {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background for text */
  padding: 20px;
  border-radius: 10px;
  max-width: 90%; /* Responsive width for mobile */
  text-align: center; /* Center-align text */
  gap: 20px; /* Add space between text and buttons */
  min-height: auto; /* Remove fixed height for flexibility */
  margin: auto; /* Center the container horizontally and vertically */
}

.hero-text-content {
  flex: 1;
}

.hero-text-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero text image styles */
.hero-text-image img {
  max-width: 50%; /* Adjust image size for mobile */
  height: auto;
  border-radius: 10px;
  padding: 5%;
  background-color: #9656a1;
  
}

.hero-text-image img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

.custom-button {
 text-decoration: none;
 padding: 4%;
 font-size: 18px !important;
 background-color: #7f5af0 !important;
}

.custom-button:hover {
  background-color: #e53170 !important; /* Custom hover background color */  /* Custom hover border color */
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow */          /* Custom hover text color */
}
/* Button container styles */
.hero-text-content > div {
  display: flex; /* Align items side by side */
  justify-content: center; /* Center align on mobile screens */
  gap: 15px; /* Add space between buttons */
}


/* Desktop-specific hero text styles */
@media (min-width: 769px) {
  .hero-section {
    padding: 50px;
    flex-direction: row; /* Arrange items side by side */
    justify-content: flex-start; /* Align content to the left */
  }

  .hero-text-image img {
    max-width: 100%;
  }

  .hero-text {
    padding: 50px;
    flex-direction: row; /* Arrange text and image side by side */
    max-width: 100%; /* Limit width of the transparent section */
    gap: 40px; /* Larger gap for desktop view */
  }
}
