/* src/styles/globals.css */


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.paragraph {
  font-size: 18px !important;
}

.title-font {
  font-family: 'Altera', sans-serif !important; /* Fallback to sans-serif */
  font-size: 36px !important;
}

/* Hero section styles */
.hero-section {
  position: relative;
  height: 100vh; /* Full height for the hero section */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* Hero section styles (mobile-first) */
.hero-text {
  display: flex;
  flex-direction: column; /* Stack content vertically for mobile */
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.9); /* Transparent background for text */
  padding: 20px;
  border-radius: 10px;
  max-width: 90%; /* Responsive width for mobile */
  text-align: center; /* Center-align text on mobile */
  gap: 20px; /* Add space between content and image */
  min-height: 80vh; 
}

.hero-text-content {
  flex: 1;
}

.hero-text-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero text image styles */
.hero-text-image img {
  max-width: 50%; /* Adjust image size for mobile */
  height: auto;
  border-radius: 10px;
  padding: 5%;
  background-color: purple;
}

.custom-button {
 text-decoration: none;
 padding: 4%;
}

.custom-button:hover {
  background-color: maroon; /* Custom hover background color */
  border-color: #1d39c4;     /* Custom hover border color */
  color: #fff;               /* Custom hover text color */
}
/* Button container styles */
.hero-text-content > div {
  display: flex; /* Align items side by side */
  justify-content: center; /* Center align on mobile screens */
  gap: 15px; /* Add space between buttons */
}


/* Desktop-specific hero text styles */
@media (min-width: 769px) {
  .hero-section {
    padding: 50px;
    flex-direction: row; /* Arrange items side by side */
    justify-content: flex-start; /* Align content to the left */
  }

  .hero-text-image img {
    max-width: 100%;
  }

  .hero-text {
    padding: 50px;
    flex-direction: row; /* Arrange text and image side by side */
    max-width: 100%; /* Limit width of the transparent section */
    gap: 40px; /* Larger gap for desktop view */
  }
}
